@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans KR', sans-serif;
}

::-webkit-scrollbar {
  /* display: none; */
  background-color: #b2da8130;
  width: 2px;
} 

::-webkit-scrollbar-thumb {
  /* background: #909c7f; */
  background: #091001;
}