@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

#page-title {
    font-family: 'Amatic SC', cursive;
    font-size: 90pt;
}

@media only screen and (max-width: 600px) {
    #page-title {
        font-family: 'Amatic SC', cursive;
        font-size: 48pt;
    }
}